In [2]:
# creating the path for module errors
import sys
from pathlib import Path

PROJECT_ROOT = Path().resolve().parent  # go up one level
sys.path.append(str(PROJECT_ROOT))

In [3]:
from rpis.ingestion import load_race_session
from rpis.processing import clean_laps, segment_stints, compute_stint_summary

session = load_race_session(2023, "Bahrain", "R")
laps = session.laps

clean = clean_laps(laps)
clean.head()

core           INFO 	Loading data for Bahrain Grand Prix - Race [v3.7.0]
req            INFO 	Using cached data for session_info
req            INFO 	Using cached data for driver_info
req            INFO 	Using cached data for session_status_data
req            INFO 	Using cached data for lap_count
req            INFO 	Using cached data for track_status_data
req            INFO 	Using cached data for _extended_timing_data
req            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
req            INFO 	Using cached data for car_data
req            INFO 	Using cached data for position_data
req            INFO 	Using cached data for weather_data
req            INFO 	Using cached data for race_control_messages
core           INFO 	Finished loading data for 20 drivers: ['1', '11', '14', '55', '44', '18', '63', '77', '10', '23', '22', '2', '20', '21', '27', '24', '4', '31', '16', '81']

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate
0,0 days 01:04:15.902000,VER,1,0 days 00:01:39.019000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:42.414000,...,False,Red Bull Racing,0 days 01:02:36.652000,2023-03-05 15:03:38.501,12,1.0,False,,False,False
1,0 days 01:05:53.876000,VER,1,0 days 00:01:37.974000,2.0,1.0,NaT,NaT,0 days 00:00:31.342000,0 days 00:00:42.504000,...,False,Red Bull Racing,0 days 01:04:15.902000,2023-03-05 15:05:17.751,12,1.0,False,,False,True
2,0 days 01:07:31.882000,VER,1,0 days 00:01:38.006000,3.0,1.0,NaT,NaT,0 days 00:00:31.388000,0 days 00:00:42.469000,...,False,Red Bull Racing,0 days 01:05:53.876000,2023-03-05 15:06:55.725,1,1.0,False,,False,True
3,0 days 01:09:09.858000,VER,1,0 days 00:01:37.976000,4.0,1.0,NaT,NaT,0 days 00:00:31.271000,0 days 00:00:42.642000,...,False,Red Bull Racing,0 days 01:07:31.882000,2023-03-05 15:08:33.731,1,1.0,False,,False,True
4,0 days 01:10:47.893000,VER,1,0 days 00:01:38.035000,5.0,1.0,NaT,NaT,0 days 00:00:31.244000,0 days 00:00:42.724000,...,False,Red Bull Racing,0 days 01:09:09.858000,2023-03-05 15:10:11.707,1,1.0,False,,False,True

### Test stint segmentation

In [4]:
segmented = segment_stints(clean)
segmented[['Driver', 'LapNumber', 'Compound', 'Stint']].head(20)

    Driver  LapNumber Compound  Stint
550    ALB        1.0     SOFT      1
551    ALB        2.0     SOFT      1
552    ALB        3.0     SOFT      1
553    ALB        4.0     SOFT      1
554    ALB        5.0     SOFT      1
555    ALB        6.0     SOFT      1
556    ALB        7.0     SOFT      1
557    ALB        8.0     SOFT      1
558    ALB        9.0     SOFT      1
559    ALB       10.0     SOFT      1
562    ALB       13.0     SOFT      1
563    ALB       14.0     SOFT      1
564    ALB       15.0     SOFT      1
565    ALB       16.0     SOFT      1
566    ALB       17.0     SOFT      1
567    ALB       18.0     SOFT      1
568    ALB       19.0     SOFT      1
569    ALB       20.0     SOFT      1
570    ALB       21.0     SOFT      1
571    ALB       22.0     SOFT      1

### Compute stint summary

In [5]:
summary = compute_stint_summary(segmented)
summary[summary['Driver'] == 'VER']

,Driver,Stint,AvgLapTime,Compound,StartLap,EndLap,LapCount
44,VER,1,0 days 00:01:37.873030303,SOFT,1.0,35.0,33
45,VER,2,0 days 00:01:38.389950,HARD,38.0,57.0,20